
@using Portal_MVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="fb-container fb-container-centre">
    <div class="fb-item">
        <div class="fb-item-continer" id="login-controls-container">
            <div class="e-card">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-header-title">SIGN IN</div>
                    </div>
                </div>
                <div class="e-card-content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.forwardurl)

                        @Html.EJS().TextBoxFor(m => m.Email).Placeholder("Email").CssClass("input-control").Render()
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        @*<div class="e-input-group input-control">
                            <input class="e-input" type="password" placeholder="Password" value=@Model.Password>
                        </div>*@
                        @Html.EJS().TextBoxFor(m => m.Password).Placeholder("Password").Type("password").CssClass("input-control").Render()
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger validation" })
                        <div>
                            @Html.EJS().CheckBoxFor(m => m.RememberMe).Label("Remember Me").Render();
                        </div>
                        <div style="display: flex; justify-content: center; margin-bottom: 15px; margin-top: 15px;">
                            <div>
                                @Html.EJS().Button("btn-submit-login").CssClass("e-flat e-primary").Content("Log In").Type("submit").Render()
                            </div>
                        </div>

                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                @*@Html.ActionLink("Register", "Register", "Account")*@
                                @Html.EJS().Button("register").CssClass("e-link").Content("Register").Render()
                            </div>

                            <div>
                                @Html.EJS().Button("forgot-password").CssClass("e-link").Content("Forgot Password").Render()
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>

        @*<div class="fb-item-continer" style="display: none;" id="register-controls-container">
            <div class="e-card">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-header-title">REGISTER</div>
                    </div>
                </div>
                <div class="e-card-content">
                    
                </div>
            </div>
        </div>*@

    </div>
</div>


<style>
    input {
        max-width: 100%;
    }


    .e-tab-section .e-tab .e-content.e-control {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .fb-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: lightgray;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        align-items: center;
    }

    .fb-container-centre {
        justify-content: center;
    }
    .fb-item{
        width: 400px;
        height: auto;
        
    }
    .e-card{
        
    }

    .input-control {
        margin-bottom: 15px !important;
    }

    .validation{
        margin-bottom: 15px;
    }

</style>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}