<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Estates - Customer Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <!-- Syncfusion ASP.NET MVC controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2.min.js"></script>

    <link href="~/Content/dashboard.css" rel="stylesheet">
    
    <link href="~/Content/NEM-menu.css" rel="stylesheet">
    <link href="~/Content/Custom.css" rel="stylesheet">
    <link href="~/Content/navbar-fixed-top.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="~/Content/Box.png" />


</head>
<body id="body">
    
    <div class="">
        <div>
            <div class="">
                @RenderBody()
            </div>



        </div>
       
    </div>


    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @Html.EJS().ScriptManager()

<script>
        $(document).ready(function () {
            $("#ResendButton").click(function () {
                document.getElementById("ResentConfirmation").style.display = "none";
                document.getElementById("AlreadyConfirmed").style.display = "none";


                var url = "/Account/ReSendConfirmationEmail/";
                $.post(url, "", function (data) {
                    if (data == "Success") {
                        document.getElementById("ResentConfirmation").style.display = "block";
                    } else if (data == "ConfirmedAlready") {
                        document.getElementById("AlreadyConfirmed").style.display = "block";
                    }
                })
            })

            $("#GoToLogInButton").click(function () {
                window.location.href = "@Url.Action("Login", "Account")";
                //var url = "/Account/Login/";
                //$.get(url, "", function (data) {

                //})
            })
        })
</script>
</body>

</html>
