<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Estates - Customer Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <!-- Syncfusion ASP.NET MVC controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2.min.js"></script>

    <link href="~/Content/dashboard.css" rel="stylesheet">
    
    <link href="~/Content/NEM-menu.css" rel="stylesheet">
    <link href="~/Content/Custom.css" rel="stylesheet">
    <link href="~/Content/navbar-fixed-top.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="~/Content/Box.png" />


</head>
<body id="body">
    <nav class="navbar navbar-default navbar-static-top" id="TopNav">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed CustomBurger" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.newestates.co.uk">


                    <img src="~/Content/400-x-71.png" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="UL">

                    <li id="MenuTextColour"><a href="https://www.newestates.co.uk/about-us/">About Us</a></li>

                    <li id="MenuTextColour" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.newestates.co.uk/property-owners/">Property Owners</a></li>
                            <li><a href="https://www.newestates.co.uk/developers/">Developers</a></li>
                            <li><a href="https://www.newestates.co.uk/freeholders/">Freeholders</a></li>
                            <li><a href="https://www.newestates.co.uk/residents-management-companies/">Resident's Management Companies</a></li>
                            <li><a href="https://www.newestates.co.uk/social-housing/">Social Housing</a></li>
                        </ul>
                    </li>
                    <li id="MenuTextColour"><a href="https://www.newestates.co.uk/Latest-news/">Latest News</a></li>
                    <li id="MenuTextColour"><a href="https://www.newestates.co.uk/contact/">Contact</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="MainBody">
        @*<div class="GradientBackground">*@
        <div>
            <div class="">
                @RenderBody()
            </div>



        </div>
        <div class="theEnd">
            <span class="registered">
                Registered in England &amp; Wales: Company No; 09670513
            </span>

            <span class="copyright">
                <span>
                    Copyright
                    <script>document.write(new Date().getFullYear())</script>2017. All Rights Reserved.
                </span> <a href="http://www.skylightmedia.co.uk" class="skylight" target="_blank">Web Design</a>
            </span>
        </div>
    </div>


    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @Html.EJS().ScriptManager()

<script>
        $(document).ready(function () {
            $("#ResendButton").click(function () {
                document.getElementById("ResentConfirmation").style.display = "none";
                document.getElementById("AlreadyConfirmed").style.display = "none";


                var url = "/Account/ReSendConfirmationEmail/";
                $.post(url, "", function (data) {
                    if (data == "Success") {
                        document.getElementById("ResentConfirmation").style.display = "block";
                    } else if (data == "ConfirmedAlready") {
                        document.getElementById("AlreadyConfirmed").style.display = "block";
                    }
                })
            })

            $("#GoToLogInButton").click(function () {
                window.location.href = "@Url.Action("Login", "Account")";
                //var url = "/Account/Login/";
                //$.get(url, "", function (data) {

                //})
            })
        })
</script>
</body>

</html>
