
@using Portal_MVC.Models
@model Portal_MVC.Models.ViewModelBase


@if (Model != null)
{
    <div class="Full-Width-Container">
        <div class="row">
            @foreach (Properties p in Model.Properties)
            {
                <div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 e-card e-custom-card ">
                    <div class="e-card-content e-card-center">
                        <div style="margin-bottom: 5px;">
                            <i class="fa-solid fa-building fa-3x"></i>
                        </div>
                        <h6>@p.Address1</h6>
                        @if (!string.IsNullOrWhiteSpace(p.Address2))
                        {
                            <h6>@p.Address2</h6>
                        }
                        @if (!string.IsNullOrWhiteSpace(p.Address3))
                        {
                            <h6>@p.Address3</h6>
                        }
                        @if (!string.IsNullOrWhiteSpace(p.Address4))
                        {
                            <h6>@p.Address4</h6>
                        }
                        @if (!string.IsNullOrWhiteSpace(p.Address5))
                        {
                            <h6>@p.Address5</h6>
                        }
                        <div>
                            @Html.ActionLink("Select", Model.ViewName, Model.ControllerName,
                                                         new { @class = "e-flat", PropID = p.ID, PropName = p.Address1, id = "Prop" + p.ID, IsEstate = true }, null)
                            @*@Html.EJS().Button("element").Content("Button").CssClass("e-flat e-primary").Render()*@
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

}



<style>
    .e-card-center {
        text-align: center;
    }

    h6 {
        padding: 0px;
        margin: 5px 0px;
    }
</style>

<script>

</script>