@using Portal_MVC.Models

@model Portal_MVC.Models.RepairsMaintenanceViewModel

@{
    ViewBag.Title = "Repair Detail - New Estates";
}


@if (Model != null)
{

        <div class="page-header">
            <h1>Repair Details</h1>
        </div>
 

    <div class="row GradientBackground" style="min-height:50px; margin-bottom: 15px;">
      
                <div class="col-md-7 col-lg-7 col-sm-6">
                    <h3>@Model.Repair.Title</h3>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-6 status">
                    <h4 style="margin-top: 25px;">Status: @Model.Repair.Status</h4>
                </div>
         
    </div>

    //Repair Details
        <div class="">
            <h4>@Model.Repair.Details</h4>
            
            @if (Model.Repair.completionCost != 0)
            {
                <h5>Final Total Cost: @Model.Repair.completionCostStr</h5>
            }
            else
            {
                <h5>Target Completion: @Model.Repair.TargetDatestr</h5>
                <h5>Estimated Cost: @Model.Repair.EstimatedCostStr</h5>
            }
            <hr />
        </div>


    <div class="row">

            @*Repair History*@
        
        <div class="col-md-6 col-lg-6">
            @using (Html.BeginForm("AutomaticUpdates", "RepairsMaintenance", new { repairID = Model.Repair.ID }, FormMethod.Post))
            {
                <div class="row">
                    <div class="container">
                        <div @*class="col-lg-1 col-md-1 col-sm-1 col-xs-1"*@>
                            <label class="containerChk">
                                Receive Automatic Updates
                                @Html.CheckBoxFor(m => m.Repair.AutomaticUpdates, new { onclick = "this.form.submit();" })
                                <span class="checkmark"></span>
                            </label>

                        </div>
                      
                        @Html.TextBoxFor(m => m.Repair.ID, new { @style = "Display: none;" })
                    </div>
                    @if(!string.IsNullOrWhiteSpace(Model.AutomaticUpdateConfirmation))
                    {
                        <div class="row">
                            <div class="container">
                                <div class="panel">
                                    <div class="alert alert-success alert-dismissible">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <p>@Model.AutomaticUpdateConfirmation</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    }
                </div>
            }	
           
                @if (Model.Repair.RepairHistory.Count > 0)
				{
                <div class="panel GradientBackground panelContainer">
                    <div class="panel-heading" style="padding-left: 8px;">
                        <h4>Repair History</h4>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Repairs r in Model.Repair.RepairHistory)
							 {
                                <tr>
                                    <td style="width: 100px;">@r.RaisedDatestr</td>
                                    <td>@r.UpdateNote</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @*Asset Details*@

            <div class="panel" style="margin-top: 15px">
                <div class="panel-body">
                    @if (@Model.ContractorInfo.Name != null && @Model.ContractorInfo.Name != "")
                    {
                        <div class="AssetRowContainer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 AssetLabel">
                                    <p>Contractor</p>
                                </div>
                                <div class="col-xs-6 col-sm-8 col-md-8 col-lg-9 AssetData">
                                    <p>@Model.ContractorInfo.Name</p>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="AssetRowContainer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetLabel">
                                <p>Head Asset</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetData">
                                <p>@Model.Repair.HeadAssetName</p>
                            </div>
                        </div>
                    </div>

                    @if (Model.Repair.SubAssetName != null && Model.Repair.SubAssetName != "")
                    {
                        <div class="AssetRowContainer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetLabel">
                                    <p>Sub Asset</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetData">
                                    <p>@Model.Repair.SubAssetName</p>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.Repair.SubAssetLocation != null && Model.Repair.SubAssetLocation != "")
                    {
                        <div class="AssetRowContainer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetLabel">
                                    <p>Asset Location</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetData">
                                    <p>@Model.Repair.SubAssetLocation</p>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.Repair.HeadAssetLocation != null && Model.Repair.HeadAssetLocation != "")
                    {
                        <div class="AssetRowContainer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetLabel">
                                    <p>Asset Location</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 AssetData">
                                    <p>@Model.Repair.HeadAssetLocation</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
            @*Call Report*@
            <div class="col-md-6 col-lg-6">
                @if (Model.CallReports != null)
                {
                    //CALLREP0RT REPORT
                    <div class="panel CallReportPanel ">
                        <div class="panel-heading col-md-11 col-md-push-1 col-sm-11 col-sm-push-1 col-xs-11 col-xs-push-1" style="padding-left: 0px;">
                            <h4>Originating Report</h4>

                        </div>
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-xs-11 col-sm-10 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1 CallReportRow">
                                    <div class="panelBodyLabel">
                                        <p>Reported Date</p>
                                    </div>
                                    <div class="panelBodyLabel PanelBodyData">
                                        <p>@Model.CallReports.ReportDateStr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-11 col-sm-10 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1 CallReportRow">
                                    <div class="panelBodyLabel">
                                        <p>Reported By</p>
                                    </div>
                                    <div class="panelBodyLabel PanelBodyData">
                                        <p>@Model.CallReports.ReporterType</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-11 col-sm-10 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1 CallReportRow">
                                    <div class="panelBodyLabel">
                                        <p>Summary</p>
                                    </div>
                                    <div class="panelBodyLabel PanelBodyData">
                                        <p>@Model.CallReports.ReportTitle</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-11 col-sm-10 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1 CallReportRow">
                                    <div class="panelBodyLabel ">
                                        <p>@Model.CallReports.ReportDetails</p>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-xs-11 col-sm-10 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1 CallReportRow">
                                    <div class="panelBodyLabel">
                                        <p>Outcome</p>
                                    </div>
                                    <div class="panelBodyLabel PanelBodyData">
                                        <p>@Model.CallReports.Outcome</p>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    </div>
                }


            </div>
        </div>

        //Service Charge Info
        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <hr style="border-top: 0.5px solid #656565" />
                    <h2>Service Charge Information</h2>
                     <div class="panel GradientBackground">
                         <table class="table">
                             <thead>
                                 <tr>
                                     <th>Budget Schedule</th>
                                     <th>Expenditure Heading</th>
                                     <th>Budgeted Cost</th>
                                     <th>Current Expenditure</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>@Model.ServiceChargeInfo.SCScheduleName</td>
                                     <td>@Model.ServiceChargeInfo.SCHeading</td>
                                     <td>@Model.ServiceChargeInfo.TotalBudgetstr</td>
                                     <td>@Model.ServiceChargeInfo.TotalExpstr</td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>   
               
                </div>
            </div>


}



