@using Portal_MVC.Models
@model Portal_MVC.Models.RepairsMaintenanceViewModel




@if (Session["SelectedPropertyID"] == null || (int)Session["SelectedPropertyID"] == 0)
{
    ViewBag.Title = "Select Property - New Estates";
    <div class="container">
        @Html.Partial("_SelectEstate", Model);
    </div>
} else
{
    ViewBag.Title = "Repair History - New Estates";
    <h4> All Repairs</h4>
    <div class="panel GradientBackground">
        <table class="table">
            <thead>
                <tr>
                    <th style="visibility:hidden"></th>
                    <th class="MobileCollapse">Date Raised</th>
                    <th>Summary</th>
                    <th>Status</th>
                    <th class="MobileCollapse">Target Completion</th>
                    
                </tr>
            </thead>
            @foreach (APIRepairs repair in Model.AllRepairs)
            {
                
                <tr class="FurtherDetailsBelow">
                    <td class="ShowDetails">
                        <span class="glyphicon glyphicon-info-sign InfoToolTip" aria-hidden="true"></span>
                    </td>
                    <td class="MobileCollapse"> <p>@repair.RaisedDateStr</p></td>
                    <td><p>@repair.RaisedDateStr</p></td>
                  
                    <td><p>@repair.RepairStatus</p></td>
                    <td class="MobileCollapse"><p>@repair.TargetDateStr</p></td>
                </tr>

                //HideShowTableRow
                <tr class="HideTableRow">
                    <td colspan="5">
                        @*ShowTableDetail*@
                       <div class="panel ShowTableDetail">
                           <div class="ShowDetailHeader">
                               <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                                   <p></p>
                               </div>
                              
                               <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ShowDetailCollapse">
                                   <span class="glyphicon glyphicon-chevron-up CollapseTableRow" aria-hidden="true"></span>
                               </div>
                               
                           </div>
                           <div class="ShowDetailBody MobileDetails">
                               <p>Date Raised: @repair.RaisedDateStr</p>
                           </div>
                           <div class="ShowDetailBody MobileDetails">
                               <p>Target Completion Date: @repair.TargetDateStr</p>
                           </div>

                           <div class="col-md-10">
                               <p style="width: 100%;">@repair.RepairDetails </p>
                               
                           </div>
                           <div class="col-md-2 ViewMoreDetail">
                               <p>@Html.ActionLink("View More", "RepairDetail", new { repairID = repair.ID})</p>
                           </div>
                       </div>
                        
                    </td>
                </tr>
            }
        </table>
    </div>
}





