@using Portal_MVC.Models
@model Portal_MVC.Models.AttendanceLogViewModel
@{
    ViewBag.Title = "Attendance Log";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@using (Html.BeginForm("SubmitAttendance", "Caretaking", FormMethod.Post))
{
    Html.AntiForgeryToken();
<div class="container">
    <div class="row">
        <div class="form-group">
            @Html.DropDownListFor(m => m.SelectedPropertyid, Model.EstateList, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">
        <div class="form-group">
            @Html.DropDownListFor(m => m.SelectedAttendanceTypeID, Model.AttendanceTypes, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">
        <div class="form-group">
            @Html.TextAreaFor(m => m.AttendanceDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AttendanceDescription, "", new { @class = "text-danger", @style = "height:400px;" })
        </div>

    </div>
    <div class="row">
        <div class="form-group">
            @Html.EJS().DateTimePicker("datetimepicker").Render()
        </div>

    </div>

    <div class="row">
        <div class="form-group">
            @Html.EJS().Uploader("UploadFiles").Render()
        </div>

    </div>

   



    <div class="row">
        <div class="centreButton">
            <button class="btn btn-primary " type="submit" value="SubmitAttendance" , id="customButton">Submit</button>
        </div>
    </div>
</div>
}

